body {
    font-family: "Monteserrat";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Monteserrat-Bold";

}

h2 {

    font-size: 3rem;
    line-height: 1.5;

}


h3 {

    font-size: 1.5rem;
}

p {
    color: #8f8f8f;
}


/* Heading */

.big-heading {
    font-family: "Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
    text-align: left;

}

#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid {
    padding: 3% 15% 7%;

}


.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Monteserrat-Light";
}

/* Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

.tittle-image {
    width: 60%;
    transform: rotate(25deg);
    position: static;
    right: 30%;
}

#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box {
    text-align: center;
    padding: 4.5%;

}

.icon {
    color: brown;
    margin-bottom: 1rem;
}

.icon:hover {
    color: rgb(212, 54, 54);
}

/* testimonials */

#testimonials {

    text-align: center;
    background-color: rgb(239, 82, 82);
    color: #fff;
}


.testimonial-image {
    width: 12%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: rgb(239, 82, 82);
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-coloumn {
    padding: 3% 2%;
}

/* Cta section */

#cta {
    background-color: rgb(239, 82, 82);
    color: #fff;
    padding: 5% 15%;
    text-align: center;
    line-height: 2;

}

.cta-heading {
    font-family: "Monteserrat-Black";

}


/* Footer section */

#footer {
    padding: 7% 15%;
    text-align: center;

}


.social-icon {
    margin: 20px 10px;

}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }

    .tittle-image {
        position: static;
        transform: rotate(0);
    }
}